html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#main-index-404{
    background: linear-gradient(#192b66, #a3ccaf 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#btn-otro{
    text-decoration: none; 
    color: white;
    font-size: 20px; 
    border: 2px solid #EFBF1F;
    padding: 15px 30px 15px 30px; 
    border-radius: 25px;
    background-color: #192b66; 
    margin: 30px;
    cursor: url("../cursores/link.png"), auto;
}

#btn-volver{
    text-decoration: none; 
    color: white;
    font-size: 20px; 
    border: 2px solid #EFBF1F;
    padding: 15px 30px 15px 30px; 
    border-radius: 25px;
    background-color: #192b66; 
    margin: 30px;
    cursor: url("../cursores/link.png"), auto;
}

@media(max-width:600px){
    #btn-otro, #btn-volver{
        font-size: 15px;
    }
}